@import "common";

.radio {
  &-wrap {
    &:not(.reverse) {
      input[type="radio"] {
        &:active ~ .radio-label::before {
          outline: none;
          border: 2px solid $point1;
          box-shadow: 0 0 0 2px $point2;
        }

        &:focus ~ .radio-label::before {
          border: 2px solid $point1;
          box-shadow: 0 0 0 2px $point2;
          outline: none;
        }

        &:checked ~ .radio-label {
          &::before {
            border-color: $point1;
            background-color: $point1;
            position: relative;
          }

          &::after {
            position: absolute;
            left: 6px;
            top: 6px;
            width: 6px;
            height: 10px;
            margin-top: -2px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
            z-index: 1;
            content: '';
          }
        }

        &:disabled ~ .radio-label::before {
          background-color: $gray6;
          border-color: $gray5;
          cursor: not-allowed;
        }

        &:disabled:active ~ .radio-label::before {
          box-shadow: none;
        }

        &:disabled:focus ~ .radio-label::before {
          box-shadow: none;
        }
      }

      &.small {
        .radio-label::before {
          width: 12px;
          height: 12px;
        }

        input[type="radio"]:checked ~ .radio-label::after {
          left: 5px;
          top: 6px;
          width: 4px;
          height: 8px;
        }
      }

      &.large {
        .radio-label::before {
          width: 24px;
          height: 24px;
        }

        input[type="radio"]:checked ~ .radio-label::after {
          left: 8px;
          top: 6px;
          width: 8px;
          height: 15px;
          border-width: 3px;
        }
      }

      .radio-label {
        &::before {
          display: inline-block;
          vertical-align: top;
          width: 16px;
          height: 16px;
          border: 2px solid $point1;
          border-radius: 50%;
          margin: 2px 7px 0 0;
          content: '';
        }
      }
    }

    &.reverse {
      input[type="radio"] {
        &:active ~ .radio-label::after {
          outline: none;
          border: 2px solid $point1;
          box-shadow: 0 0 0 2px $point2;
        }

        &:focus ~ .radio-label::after {
          border: 2px solid $point1;
          box-shadow: 0 0 0 2px $point2;
          outline: none;
        }

        &:checked ~ .radio-label {
          &::before {
            position: absolute;
            right: 6px;
            top: 6px;
            width: 6px;
            height: 10px;
            margin-top: -2px;
            border-right: 2px solid #fff;
            border-bottom: 2px solid #fff;
            transform: rotate(45deg);
            z-index: 1;
            content: '';
          }

          &::after {
            border-color: $point1;
            background-color: $point1;
            position: relative;
          }
        }

        &:disabled ~ .radio-label::after {
          background-color: $gray6;
          border-color: $gray5;
          cursor: not-allowed;
        }
        &:disabled:active ~ .radio-label::after {
          box-shadow: none;
        }
        &:disabled:focus ~ .radio-label::after {
          box-shadow: none;
        }
      }

      .radio-label {
        &::after {
          display: inline-block;
          vertical-align: top;
          width: 16px;
          height: 16px;
          border: 2px solid $point1;
          border-radius: 50%;
          margin: 2px 0 0 7px;
          content: '';

          @at-root .small & {
            width: 12px;
            height: 12px;
          }

          @at-root .large & {
            width: 20px;
            height: 20px;
          }
        }
      }

      &.small {
        .radio-label::after {
          width: 12px;
          height: 12px;
        }

        input[type="radio"]:checked ~ .radio-label::before {
          right: 5px;
          top: 6px;
          width: 4px;
          height: 8px;
        }
      }

      &.large {
        .radio-label::after {
          width: 24px;
          height: 24px;
        }

        input[type="radio"]:checked ~ .radio-label::before {
          right: 8px;
          top: 6px;
          width: 8px;
          height: 15px;
          border-width: 3px;
        }
      }
    }
  }

  &-label {
    line-height: 1.5;
    font-family: 'Pretendard-Regular';
    position: relative;
    display: inline-block;
    vertical-align: top;

    @at-root .small & {
      font-size: 14px;
    }

    @at-root .large & {
      font-size: 20px;
    }

    @at-root input[type="radio"]:disabled ~ & {
      cursor: not-allowed;
      color: $gray5;
    }
  }
}