@import '../common/variable';
@import '../common/mixin';

.mu-index {
    &-title {
        margin-bottom: 15px;
        color: $point3;
        font-size: 20px;
        position: relative;
        padding-left: 10px;

        &::before {
            @include position (absolute, 50%, null, null, 0);
            transform: translateY(-50%);
            width: 4px;
            height: 20px;
            background-color: $point3;
            content: '';
        }
    }

    &-list {
        margin-left: 10px;

        &-container {
            @media screen and (min-width: 768px) {
                display: flex;
            }
        }

        &-wrap {
            &:not(:last-child) {
                margin-bottom: 35px;
            }

            @media screen and (min-width: 768px) {
                flex: 1;

                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-item {
        padding-left: 12px;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 3px;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 10px;
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: #000;
            content: '';
        }
    }

    &-link {
        position: relative;
        color: #000;

        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 0;
            height: 1px;
            background-color: #000;
            transition: width .2s;
            content: '';
        }

        &:hover {
            color: #000;
            
            &::after {
                width: 100%;
            }
        }
    }
}