@import './variable';
@import './mixin';

.mu-page-section {
  &:not(:last-child) {
    padding-bottom: 60px;
    margin-bottom: 60px;
    border-bottom: 1px solid $gray5;
  }

  &-nav {
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &-title {
      font-weight: normal;
      color: $point3;
      margin-bottom: 5px;
      font-size: 20px;
      position: relative;
      padding-left: 15px;
      display: flex;
      align-items: center;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 4px;
        height: 100%;
        background-color: $point3;
        content: '';
      }
    }

    &-list {
      margin-left: 15px;

      li {
        &:not(:last-child) {
          padding-bottom: 0;
          margin-bottom: 0;
        }

        a {
          display: inline-block;
          padding: 10px;
          margin-left: -10px;
          color: #000;
          font-size: 14px;

          &:hover {
            color: $point1;
          }
        }
      }
    }
  }

  &-title {
    color: $point3;
    margin-bottom: 15px;
    font-size: 20px;
    position: relative;
    padding-left: 15px;
    font-weight: normal;
    display: flex;
    align-items: center;

    &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background-color: $point3;
      content: '';
    }
  }

  &-sub-title {
    color: $point1;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  &-sub {
    margin-left: 15px;

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

.mu-code {
  max-width: 100%;

  pre {
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
    border-radius: 3px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &-font {
    font-family: 'Source Code Pro', 'Noto Sans KR', monospace;
  }
}

.mu-iframe {
  position: fixed;
  top: 92px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 154px);
  border: none;
}

.mu-example {
  padding: 1em;
  font-family: "Source Code Pro", "Noto Sans KR", monospace;
  background: #2d2d2d;
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
  color: #ccc;

  &:not(:last-child) {
    margin: 0.5em 0;
  }

  &:last-child {
    margin-top: 0.5em;
  }

  &-comment {
    color: #999;
  }

  &-desc {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.mu-ready-text {
  font-size: 18px;
  text-align: center;
  margin-top: 50px;

  &::before {
    display: block;
    margin: 0 auto 20px;
    width: 80px;
    height: 80px;
    background: url("../../assets/images/icon_info.svg") center center / cover;
    content: '';
  }
}