$point1: #005b38;
$point2: #ffcc3d;
$point3: #1b9365;
$point4: #fee5a9;
$point5: #a6c6ad;
$point6: #fff9e8;

$gray1: #111;
$gray2: #333;
$gray3: #666;
$gray4: #999;
$gray5: #c0c0c0;
$gray6: #e1e1e1;

$sideMenuWidth: 240px;
$sideMenuMargin: 40px;